@font-face {
  font-family: "League Spartan";
  src: url("../font/League\ Spartan\ Bold.woff2") format("woff2"),
    url("../font/League\ Spartan\ Bold.woff2") format("woff");
  font-weight: 700;
  font-style: normal;
}
