:root {
  --ff-default: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --ff-primary: "League Spartan", var(--ff-default);
  --fs-400: 1rem;
  --fs-500: 1.125rem;
  --fs-800: 2rem;
  --fs-900: 3.5rem;
}

:root {
  --clr-background-100: 222 26% 31%;
  --clr-background-200: 223 31% 20%;
  --clr-background-300: 224 36% 15%;
  --clr-neutral-white: 0 0% 100%;
  --clr-key-general: 30 25% 89%;
  --clr-key-general-shadow: 28 16% 65%;
  --clr-equal-h: 6;
  --clr-equal-s: 63%;
  --clr-equal-l: 50%;
  --clr-key-equal-shadow: 6 70% 34%;
  --clr-reset-h: 225;
  --clr-reset-s: 21%;
  --clr-reset-l: 49%;
  --clr-key-reset-shadow: 224 28% 35%;
  --clr-key-text-100: 221 14% 31%;
  --clr-key-text-200: 0 0% 100%;
}

/*
#### Backgrounds

- Light gray (main background): hsl(0, 0%, 90%)
- Grayish red (toggle background, keypad background): hsl(0, 5%, 81%)
- Very light gray (screen background): hsl(0, 0%, 93%)

#### Keys

- Dark moderate cyan (key background): hsl(185, 42%, 37%)
- Very dark cyan (key shadow): hsl(185, 58%, 25%)

- Orange (key background, toggle): hsl(25, 98%, 40%)
- Dark orange (key shadow): hsl(25, 99%, 27%)

- Light grayish yellow (key background): hsl(45, 7%, 89%)
- Dark grayish orange (key shadow): hsl(35, 11%, 61%)

#### Text

- Very dark grayish yellow: hsl(60, 10%, 19%)
- White (text): hsl(0, 0%, 100%)
*/
[data-theme="2"] {
  --clr-background-100: 0 0% 90%;
  --clr-background-200: 0 5% 81%;
  --clr-background-300: 0 0% 93%;
  --clr-key-general: 45 7% 89%;
  --clr-key-general-shadow: 35 11% 61%;
  --clr-equal-h: 25;
  --clr-equal-s: 98%;
  --clr-equal-l: 40%;
  --clr-key-equal-shadow: 25 99% 27%;
  --clr-reset-h: 185;
  --clr-reset-s: 42%;
  --clr-reset-l: 37%;
  --clr-key-reset-shadow: 185 58% 25%;
  --clr-key-text-100: 60 10% 19%;
  --clr-key-text-200: 60 10% 19%;
}

/*
#### Backgrounds

- Very dark violet (main background): hsl(268, 75%, 9%)
- Very dark violet (toggle background, keypad background, screen background): hsl(268, 71%, 12%)

#### Keys

- Dark violet (key background): hsl(281, 89%, 26%)
- Vivid magenta (key shadow): hsl(285, 91%, 52%)

- Pure cyan (key background, toggle): hsl(176, 100%, 44%)
- Soft cyan (key shadow): hsl(177, 92%, 70%)

- Very dark violet (key background): hsl(268, 47%, 21%)
- Dark magenta (key shadow): hsl(290, 70%, 36%)

#### Text

- Light yellow: hsl(52, 100%, 62%)
- Very dark blue: hsl(198, 20%, 13%)
- White (text): hsl(0, 0%, 100%)
*/
[data-theme="3"] {
  --clr-background-100: 268 75% 9%;
  --clr-background-200: 268 71% 12%;
  --clr-background-300: 268 71% 12%;
  --clr-key-general: 268 47% 21%;
  --clr-key-general-shadow: 290 70% 36%;
  --clr-general-hover: 268 54% 44%;
  --clr-equal-h: 176;
  --clr-equal-s: 100%;
  --clr-equal-l: 44%;
  --clr-key-equal-shadow: 177 92% 70%;
  --clr-reset-h: 281;
  --clr-reset-s: 89%;
  --clr-reset-l: 26%;
  --clr-key-reset-shadow: 285 91% 52%;
  --clr-key-text-100: 52 100% 62%;
  --clr-key-text-200: 52 100% 62%;
  --clr-key-text-300: 198 20% 13%;
}

body {
  color: hsl(var(--clr-neutral-white));
  background-color: hsl(var(--clr-background-100));
}

main {
  min-height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

@font-face {
  font-family: "League Spartan";
  src: url("../font/League Spartan Bold.woff2") format("woff2"), url("../font/League Spartan Bold.woff2") format("woff");
  font-weight: 700;
  font-style: normal;
}
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100svh;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

body {
  font-family: var(--ff-primary);
}

button {
  font-size: var(--fs-800);
}

.calculator-title__heading {
  font-size: var(--fs-500);
}

.calculator-display {
  font-size: clamp(2.6rem, 2.287rem + 1.5652vi, var(--fs-900));
}

h3,
.theme-toggle__numbering {
  font-size: 0.8rem;
}

.btn--del, .btn--reset {
  font-size: clamp(1.2rem, 1.0609rem + 0.6957vi, 1.6rem);
}

.calculator-buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: clamp(1rem, 0.8261rem + 0.8696vi, 1.5rem) clamp(0.8rem, 0.5217rem + 1.3913vi, 1.6rem);
}

.btn--9 {
  grid-row: 1/span 1;
  grid-column: 3/span 1;
}

.btn--8 {
  grid-row: 1/span 1;
  grid-column: 2/span 1;
}

.btn--7 {
  grid-row: 1/span 1;
  grid-column: 1/span 1;
}

.btn--6 {
  grid-row: 2/span 1;
  grid-column: 3/span 1;
}

.btn--5 {
  grid-row: 2/span 1;
  grid-column: 2/span 1;
}

.btn--4 {
  grid-row: 2/span 1;
  grid-column: 1/span 1;
}

.btn--3 {
  grid-row: 3/span 1;
  grid-column: 3/span 1;
}

.btn--2 {
  grid-row: 3/span 1;
  grid-column: 2/span 1;
}

.btn--1 {
  grid-row: 3/span 1;
  grid-column: 1/span 1;
}

.btn--reset {
  grid-row: 5/span 1;
  grid-column: 1/span 2;
}

.btn--equal {
  grid-row: 5/span 1;
  grid-column: 3/span 2;
}

.btn--decimal {
  grid-row: 4/span 1;
  grid-column: 1/span 1;
}

.btn--0 {
  grid-row: 4/span 1;
  grid-column: 2/span 1;
}

.btn--division {
  grid-row: 4/span 1;
  grid-column: 3/span 1;
}

.calculator {
  width: min(88%, 33.8rem);
  color: hsl(var(--clr-key-text-200));
}
.calculator__heading {
  margin-block-end: 0.2rem;
}
.calculator-title {
  margin-block-end: 2rem;
  padding-inline-start: 0.6rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}
.calculator-title__theme-change {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  gap: 2.2rem;
}
.calculator-display {
  padding-block: clamp(0.8rem, 0.5565rem + 1.2174vi, 1.5rem);
  padding-inline: clamp(1.5rem, 1.3261rem + 0.8696vi, 2rem);
  margin-block-end: 1.5rem;
  background-color: hsl(var(--clr-background-300));
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.calculator-buttons {
  padding: clamp(1.5rem, 1.3261rem + 0.8696vi, 2rem);
  background-color: hsl(var(--clr-background-200));
}

.theme-heading {
  margin-block-end: 0.3rem;
}
.theme-toggle-section {
  width: 4rem;
}
.theme-toggle__numbering {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-block-end: 0.2rem;
}

.tri-state-toggle {
  height: 1.6rem;
  padding: 0.3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: hsl(var(--clr-background-200));
  border-radius: 50rem;
}

.tri-state-toggle > * {
  flex: 1 1 33.33%;
  aspect-ratio: 1;
  appearance: none;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0;
  transition: all 0.2s;
}

.btn {
  padding-block: 0.5rem;
  background-color: hsl(var(--clr-key-general));
  color: hsl(var(--clr-key-text-100));
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0 0.2rem 0 hsl(var(--clr-key-general-shadow));
  cursor: pointer;
  transition: all 0.2s;
}

.btn:where(:hover, :active, :focus) {
  background-color: hsl(var(--clr-general-hover, var(--clr-neutral-white)));
}

.btn--equal {
  color: hsl(var(--clr-key-text-300, var(--clr-neutral-white)));
  background-color: hsl(var(--clr-equal-h), var(--clr-equal-s), var(--clr-equal-l));
  box-shadow: 0 0.2rem 0 hsl(var(--clr-key-equal-shadow));
}
.btn--del, .btn--reset {
  color: hsl(var(--clr-neutral-white));
  background-color: hsl(var(--clr-reset-h), var(--clr-reset-s), var(--clr-reset-l));
  box-shadow: 0 0.2rem 0 hsl(var(--clr-key-reset-shadow));
}

.btn--del:where(:hover, :active, :focus),
.btn--equal:where(:hover, :active, :focus),
.btn--reset:where(:hover, :active, :focus) {
  --clr-reset-l: 56%;
  --clr-equal-l: 61%;
}

.btn:where(:active, :focus) {
  transform: translateY(0.2rem);
  box-shadow: none;
}

.btn-theme--1 {
  opacity: 1;
}

.btn-toggle {
  background-color: hsl(var(--clr-equal-h), var(--clr-equal-s), var(--clr-equal-l));
}
.btn-toggle:where(:hover, :active, :focus) {
  --clr-equal-l: 61%;
}

.sr-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 0;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.b-radius--sm {
  border-radius: 0.5rem;
}

/*# sourceMappingURL=styles.css.map */
